.clients {
    background-color: bisque;
    padding: 100px 0;
    background-color: rgba(0,0,0,0.9);
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('../images/clientsbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        @include font_raleway_bd;
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin-bottom: 45px;
    }
    &__subtitle {
        @include font_lato_bd;
        text-align: center;
        color: $thirdgray;
        margin-bottom: 90px;
    }
    &__line{
        @include line;
        position: absolute;
        background-color: $mainred;
        bottom: -1.5px;
        &:after {
            @include lineAfter;
        }
    }
    &-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        &-slider{
            width: 49%;
            overflow: hidden;
            position: relative;
            @media (max-width: 795px) {
                width: 100%;
            }
            &__slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__title {
                @include font_raleway_md;
                margin-bottom: 45px;
                font-size: 20px;
                color: #fff;
                text-transform: uppercase;
            }
            &__subtitle {
            @include font_lato_bd;
            text-align: center;
            color: $thirdgray;
            margin-bottom: 45px;
            line-height: 22px;
            }
            &__img{
                width: 75px;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                height: 65px;
                overflow: hidden;
                margin-bottom: 20px;
                &-img{
                    width: 100%;
                }
            }
            &__name {
                @include font_raleway_bd;
                color: $mainred;
                margin-bottom: 40px;
                text-transform: uppercase;
            }
            &__pagination {
                z-index: 2;
                outline: none;
                .swiper-pagination-bullet {
                        border-radius: 0;
                        opacity: 1;
                        background-color: rgb(224, 224, 224);
                        width: 8px;
                        height: 8px;
                        transition: transform 0.25s ease-in-out;
                }
                .swiper-pagination-bullet-active {
                    background-color: $mainred;
                    transform: translateY(-3px);
                }
             }
        }

        &-item {
            width: 49%;
            display: grid;
            grid-gap: 30px 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            @media (max-width: 795px) {
                display: none;
            }
            &__block {
                background-color: rgb(255, 255, 255);
                box-shadow: inset 0px 0px 68px 0px rgba(0, 0, 0, 0.75); 
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px 0;
            }
            &__wrapper {
                display: flex;
                justify-content: space-between;
            }
            &__text {
                font-family: 'MuseoModerno', cursive !important; 
                color: black;
                font-size: 24px;
                font-family: serif;
                margin-left: 5px;
            }
        }
    }
}

